.job-container {
    position: relative;
    width: 60%; 
    height: 75%;
    left: 5%;
    top: 5%;
    background-color: #39525C;
}

.job-card {
    position: relative;
    left: 5%;
    top: 5%;
    background-color: #495A67;
    width: 135%;
}

.job-text {
    position: relative;
    left: 2%;
}

#job-select {
    position: relative;
    left: 100%;
    top: 0%;
    height: 5%;
    line-height: 5%;
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid dimgray;
    border-top: hidden;
    border-bottom: hidden;
    padding: 14px 40px;
    outline: none;
    color: #6F8FAF;
    transition: 0.25s;
    cursor: pointer;
    background-color: #404040;
  }
#job-select {
    background: darkslategray;
}